pip install contourpy
pip install cycler
pip install darkdetect
pip install fonttools
pip install kaleido
pip install kiwisolver
pip install numpy
pip install packaging
pip install pandas
pip install Pillow
pip install plotly
pip install pyparsing
pip install python-dateutil
pip install pytz
pip install six
pip install tenacity
pip install ttkbootstrap
pip install tzdata